# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.serverlib_cache/
build/

# Android
android/**/build/
android/local.properties
android/GeneratedPluginRegistrant.java
.gradle/
captures/
*.apk
*.jks
*.keystore

# Logs
logs*.txt
*.log

# IDEs
.idea/
.vscode/
*.iml
